@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap');
:root
{
    --green:var(--green);
    --black:var(--black);
    --light-color:#666;
    --box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
    --border-shadow: 2rem solid rgba(0,0,0.1);
    --outline: .2rem solid rgba(0,0,0.1);
}

*
{
    font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #eee;
}

/* css code --*/
section
{
padding: 4rem 9%;

}
.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: black;
}
.heading span
{
    background-color: green;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}



.btn
{
    border:.2px solid black;
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
    background: none;
}
.btn:hover{
    background-color: green;
    color: #fff;
}
.header
{
    border: 0px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
    
}
.header .logo i
{
    color: green;
   
}
.header .navbar a
{
    font-size: 1.9rem;
    margin: 0 1rem;
    color:black;
}
.header .navbar a:hover
{
    color: blue;
}
.header .icons div
{
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .2rem;
    text-align: center;
    cursor: pointer;
}
.header .icons div:hover
{
    background-color: var(--light-color);
    color: #eee;
}
#menu-btn
{
    display: none;
}
.header .search-form
{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 4.5rem;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--border-shadow);
}
.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input
{
height: 100%;
width: 100%;
background: none;
text-transform: none;
font-size: 1.6rem;
color: var(--black);
padding: 0.5rem;
}
.header .search-form label
{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover
{
    color: var(--green);
}

.header .shopping-cart
{
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--border-shadow);
    width: 35rem;
    background: #fff;
}
.header .shopping-cart.active
{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box
{
    border: 0px solid black;
    display: flex;
    align-items: center;
    gap : 5rem;
    position: relative;
    margin: 1rem 0;
}
.header .shopping-cart .box img
{
    height: 10rem;
}
.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: relative;
    top: 10%;
    left: 15rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);

}
.header .shopping-cart .box .fa-trash:hover
{
    color: var(--green);
}

.header .shopping-cart .box .content h3
{
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.header .shopping-cart .box .content span
{
    color: var(--light-color);
    font-size: 1.6rem;
    
}
.header .shopping-cart .box .content .quantity
{
    padding-left: 1rem;
}
.header .shopping-cart .total
{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}
.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 1rem 0;
}
.header .login-form
{
    border: 0px solid;
    position: absolute;
    width: 30rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.header .login-form.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3
{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
}
.header .login-form .box
{
    width: 100%;
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    text-transform: none;
}
.header .login-form p
{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}
.header .login-form p a
{
    
    color: darkblue;
    text-decoration: underline;
}

.home
{
    border: 0px solid;
    display: flex;
    justify-content: left;
    background: url(images/back.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 25rem;
    padding-bottom: 20rem;
    padding-left: 2%;

}
.home .content
{
    border: 0px solid;
    text-align: center;
    width: 80rem;
    height: 25rem;
    
    
}
.home .content h2
{
    color: black;
    font-size: 3rem;
   
}
.home .content h1 span
{
    color: darkgreen;
    font-size: 4rem;
}
.home .content h3
{
    color:black;
    font-size: 2rem;
}

/*-----features---*/
.features .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.features .box-container .box
{
    border: 0px solid;
    padding: 3rem 2rem;
    background: #fff;
    outline: black;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--border-shadow);

}
.features .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(23, 207, 23);
}
.features .box-container .box img
{
    margin: 1rem 0;
    height: 20rem;
}
.features .box-container .box h3
{
    font-size: 2.5rem; 
    line-height: 1.8;
    color: black;
}
.features .box-container .box p
{
    font-size: 1.5rem; 
    line-height: 1.8;
    color: grey;
    padding-bottom: 1rem 0;
}

/* about*/


.about .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 1.5rem;
    
}
.about .box-container .box
{
    border: 0px solid;
    padding: 3rem 2rem;
    background: #fff;
    outline: black;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--border-shadow);
    float: right;
   

}
.about .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(23, 207, 23);
}
.about .box-container .box img
{
    margin: 1rem 0;
    height: 45rem;
    width: 40rem;
    float: left;
}
.about .box-container img:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(114, 105, 111);
}
.about .box-container .box h3
{
    font-size: 3rem; 
    line-height: 1.8;
    color: blue;
    font-style: italic;
    
}
.about .box-container .box h3:hover
{
  color:black;
}
.about .box-container .box p
{
    font-size: 2rem; 
    line-height: 1.8;
    color:black;
    padding-bottom: 1rem 0;
   
}


/*------- products-----*/

.products .product-slider
{
    border: 0px solid;
    padding: 1rem;
}
.products .product-slider:first-child
{
    margin-bottom: 2rem;
    
}
.products .product-slider .box
{
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
   
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}
.products .product-slider .box:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(23, 207, 23);   
}
.products .product-slider .box img
{
    height: 20rem;
   
   
}
.products .product-slider .box h1
{
    font-size: 2.5rem;
    color: black;
}
.products .product-slider .box .price
{
    font-size: 2rem;
    color: #666;
    padding: .5rem 0;
}
.products .product-slider .box .stars i
{
    font-size: 1.2rem;
    color: orange;
    padding: .5rem 0;

}
.lowercase {
    font-size: inherit;
    text-transform: lowercase;
  }
  

















/* categories*/
.Categories .box-container
{
    border: px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}
.Categories .box-container .box
{
padding: 3rem 0;
background-color: #fff;
border-radius: 0rem;
box-shadow: var(--box-shadow);
outline: auto;
outline-offset: -1rem;
text-align: center;
}
.Categories .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(23, 207, 23);   
 
}
.Categories .box-container .box img
{
    margin: 1rem;
    height: 15rem;

}
.Categories .box-container .box h3
{
    font-size: 2.5rem;
    color: black;
    line-height: 1.8;  
}
.Categories .box-container .box p
{
    margin: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
    padding: 1rem;
    font-size: 1.5rem;   
}
.price
{
    font-size: 1.7rem;
    color: black;
    padding: .5rem 0;
}
.lowercase{
    font-size: inherit;
    text-transform: lowercase;
}



/*------------media queires-----------------*/
@media 
    (max-width:991px)
{
    html
{
    font-size: 62.5%;
}
}
@media (max-width:450px)
{
    html
{
    font-size: 62.5%;
}
}
