body
{
    min-height: 100vh;
    display: grid;
    place-items: center;
  
}
.slider
{
    height: 550px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

}
.slide-track
{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

.slide-track:hover{
    animation-play-state:paused ;
}
.slide
{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img
{
    width: 100%;
    transition: transform 1s;
}
img:hover
{
    transform: translateZ(20px);
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1)0%,rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before
{
    left: 0;
    top: 0;
}
.slider::after
{
    left: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.fresh .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
   margin: 50px;
  margin-top: 1rem;
  
  

}
.fresh .box-container .box
{
    border: 0px solid;
    padding: 1rem 1rem;
    background: lightgrey;
    outline: black;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--border-shadow);
    float: center;
    width: 50rem;
    height: 23rem;

}
.fresh .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px  rgb(23, 207, 23);
}
.fresh .box-container .box h2
{
  font-size: 2rem;
  color: blue;
}